<a href="https://colab.research.google.com/github/ChristianCalvaneseBDAT/Christian.Calvanese.1004.FirstAssignment/blob/main/Christian_calvanese_First_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Problem Set 1

This problem set is based on lectures 1,2 and 3. For a complete list of topics please

consult page 2 of the course syllabus. Please consult the “Instructions for Problem

Set Submissions” document under course information before submitting your
assignment.



##Question 1

What data type is each of the following (evaluate where necessary)?

5: **integer**.

5.0: **Float**.

5 > 1:  **True because 5 is greater than 1**.

'5': **string** .

5 * 2: **integer, 5 times 2**.

'5' * 2:  **string, pythons multyply the string 5, concatenating the two strings to form '55**.

'5' + '2':  **string, it adds up the string '5' plus the string '2' '52'**.

5 / 2: **float number 2.5**.

5 % 2:  **Integer, 1**.

{5, 2, 1}: **This is a set of 5, 2, and 1. Sets are unordered collections of unique elements**.

5 == 3: **False because 5 is not equal to 3**.

Pi (the number): **a float**

#Question 2

Write (and evaluate) python expressions that answer these questions:

a. How many letters are there in 'Supercalifragilisticexpialidocious'?

b. Does 'Supercalifragilisticexpialidocious' contain 'ice' as a substring?

c. Which of the following words is the longest:
Supercalifragilisticexpialidocious, Honorificabilitudinitatibus, or
Bababadalgharaghtakamminarronnkonn?

d. Which composer comes first in the dictionary: 'Berlioz', 'Borodin', 'Brian',
'Bartok', 'Bellini', 'Buxtehude', 'Bernstein'. Which one comes last?

**a.** How many letters are there in 'Supercalifragilisticexpialidocious'?

In [1]:
InputStr = 'Supercalifragilisticexpialidocious'
Length = len(InputStr)
print(Length)

34

**b.** Does 'Supercalifragilisticexpialidocious' contain 'ice' as a substring?

In [2]:
InputStr = 'Supercalifragilisticexpialidocious'
substr = 'ice' in InputStr
print(substr)

True

**c.** Which of the following words is the longest:
Supercalifragilisticexpialidocious, Honorificabilitudinitatibus, or
Bababadalgharaghtakamminarronnkonn?

In [4]:
IptArray = ['Supercalifragilisticexpialidocious', 'Honorificabilitudinitatibus', 'Bababadalgharaghtakamminarronnkonn']
longest = max(IptArray, key=len)
print(longest)

Supercalifragilisticexpialidocious

**d.** Which composer comes first in the dictionary: 'Berlioz', 'Borodin', 'Brian',
'Bartok', 'Bellini', 'Buxtehude', 'Bernstein'. Which one comes last?

In [5]:
composers_list = ['Berlioz', 'Borodin', 'Brian', 'Bartok', 'Bellini', 'Buxtehude', 'Bernstein']
first = min(composers_list)
last = max(composers_list)

print("First:", first)
print("Last :", last)

First: Bartok
Last : Buxtehude

#Question 3

Implement function triangleArea(a,b,c) that takes as input the lengths of the 3
sides of a triangle and returns the area of the triangle. By Heron's formula, the area
of a triangle with side lengths a, b, and c is
s(s - a)(s -b)(s -c)
, where
s = (a+b+c)/2.

 triangleArea(2,2,2)
1.7320508075688772

In [6]:
import math

def triangleArea(a, b, c):
    s = (a + b + c) / 2
    area = math.sqrt(s * (s - a) * (s - b) * (s - c))
    return area

# In the example, test triangle would be:
result = triangleArea(2, 2, 2)
print(result)

1.7320508075688772

#Question 4

Write a program in python to separate odd and even integers in separate arrays. Go
to the editor
Test Data :

Input the number of elements to be stored in the array :5
Input 5 elements in the array :

element - 0 : 25

element - 1 : 47

element - 2 : 42

element - 3 : 56

element - 4 : 32

Expected Output:

The Even elements are:

42 56 32

The Odd elements are :

25 47

In [8]:
def separate_elements(input_array):
    Even = [num for num in input_array if num % 2 == 0]
    Odd = [num for num in input_array if num % 2 != 0]
    return Even, Odd


GIVEN = [25, 47, 42, 56, 32]

Even, Odd = separate_elements(GIVEN)
print("The Even elements are:", *Even)
print("The Odd elements are:", *Odd)

The Even elements are: 42 56 32
The Odd elements are: 25 47

#Question 5

a. Write a function inside(x,y,x1,y1,x2,y2) that returns True or False
depending on whether the point (x,y) lies in the rectangle with lower left
corner (x1,y1) and upper right corner (x2,y2).

>>> inside(1,1,0,0,2,3)
True
>>> inside(-1,-1,0,0,2,3)
False

b. Use function inside() from part a. to write an expression that tests whether
the point (1,1) lies in both of the following rectangles: one with lower left
corner (0.3, 0.5) and upper right corner (1.1, 0.7) and the other with lower
left corner (0.5, 0.2) and upper right corner (1.1, 2).

In [9]:
def inside(x, y, x1, y1, x2, y2):
    return x1 <= x <= x2 and y1 <= y <= y2

# Example usage for part a
print(inside(1, 1, 0, 0, 2, 3))   # True
print(inside(-1, -1, 0, 0, 2, 3))  # False

# Example usage for part b
rectangle1 = inside(1, 1, 0.3, 0.5, 1.1, 0.7)
rectangle2 = inside(1, 1, 0.5, 0.2, 1.1, 2)

# Check if the point (1,1) lies in both rectangles
print(rectangle1 and rectangle2)

True
False
False

#Question 6

16. You can turn a word into pig-Latin using the following two rules (simplified):

• If the word starts with a consonant, move that letter to the end and append
'ay'. For example, 'happy' becomes 'appyhay' and 'pencil' becomes 'encilpay'.
• If the word starts with a vowel, simply append 'way' to the end of the word.

For example, 'enter' becomes 'enterway' and 'other' becomes 'otherway' . For
our purposes, there are 5 vowels: a, e, i, o, u (so we count y as a consonant).
Write a function pig() that takes a word (i.e., a string) as input and returns its pigLatin form. Your function should still work if the input word contains upper case
characters. Your output should always be lower case however.

>>> pig('happy')
'appyhay'

>>> pig('Enter')
'enterway'

In [10]:
def pig(inputstr):
    inputstr= inputstr.lower()
    vowels = 'aeiou'

    if inputstr[0] in vowels:
        return inputstr + 'way'
    else:
        return inputstr[1:] + inputstr[0] + 'ay'

print(pig('happy'))
print(pig('Enter'))

appyhay
enterway

#Question 7

File bloodtype1.txt records blood-types of patients (A, B, AB, O or OO) at a clinic.Write a function bldcount() that reads the file with name name and reports (i.e.,prints) how many patients there are in each bloodtype.>>> bldcount('bloodtype.txt')
There are 10 patients of blood type A.
There is one patient of blood type B.
There are 10 patients of blood type AB.
There are 12 patients of blood type O.
There are no patients of blood type OO.

In [1]:
def bldcount(filename):
    # Dict to store
    blood_type_counts = {'A': 0, 'B': 0, 'AB': 0, 'O': 0, 'OO': 0}
    with open(filename, 'r') as file:
        blood_types = file.read().split()

    for blood_type in blood_types:
        blood_type_counts[blood_type] += 1

    for blood_type, count in blood_type_counts.items():
        if count == 1:
            print(f"There is one patient of blood type {blood_type}.")
        elif count > 1:
            print(f"There are {count} patients of blood type {blood_type}.")
        else:
            print(f"There are no patients of blood type {blood_type}.")

# Example:
bldcount('bloodtype1.txt')

There are 15 patients of blood type A.
There is one patient of blood type B.
There are 13 patients of blood type AB.
There are 15 patients of blood type O.
There are no patients of blood type OO.

#Question 8

Write a function curconv() that takes as input:1. a currency represented using a string (e.g., 'JPY' for the Japanese Yen or'EUR' for the Euro)2. an amountand then converts and returns the amount in US dollars.
>>> curconv('EUR', 100)122.96544
>>> curconv('JPY', 100)1.241401

The currency rates you will need are stored in file currencies.txt:
AUD 1.0345157
Australian Dollar
CHF 1.0237414
Swiss Franc
CNY 0.1550176 Chinese Yuan

In [3]:
def curconv(currency, amount):
    with open('currencies.txt', 'r') as file:
        for line in file:
            code, rate = line.split()[:2]
            if code == currency:
                return amount * float(rate)


result_eur = curconv('EUR', 100)
result_jpy = curconv('JPY', 100)

print(result_eur)
print(result_jpy)

12296.544
124.1401

#Question 9

Each of the following will cause an exception (an error).
Identify what type ofexception each will cause.

Trying to add incompatible variables, as inadding 6 + ‘a’

**Type of Exception: TypeError**

Referring to the 12th item of a list that has only 10
items

**Type of Exception: IndexError**

Using a value that is out of range for a function’sinput, such as calling math.sqrt(-1.0)

**Type of Exception: ValueError**

Using an undeclared variable, such as print(x)when x has not been defined

**Type of Exception: NameError**

Trying to open a file that does not exist, such asmistyping the file name or looking in the wrongdirectory.

**Type of Exception: FileNotFoundError**

#Question 10

Encryption is the process of hiding the meaning of a text by substituting letters in the
message with other letters, according to some system. If the process is successful, no
one but the intended recipient can understand the encrypted message.

Cryptanalysis
refers to attempts to undo the encryption, even if some details of the encryption are
unknown (for example, if an encrypted message has been intercepted). The first step
of cryptanalysis is often to build up a table of letter frequencies in the encrypted text.
Assume that the string letters is already defined as
'abcdefghijklmnopqrstuvwxyz'.

 Write a function called frequencies()
that takes a string as its only parameter, and returns a list of integers, showing the
number of times each character appears in the text. Your function may ignore any
characters that are not in letters.
>>> frequencies('The quick red fox got bored and went home.')

[1, 1, 1, 3, 5, 1, 1, 2, 1, 0, 1, 0, 1, 2, 4, 0, 1, 2, 0, 2,
1, 0, 1, 1, 0, 0]

>>> frequencies('apple')

In [18]:
def frequencies(string):
    letters = 'abcdefghijklmnopqrstuvwxyz'
    frequency_list = [string.lower().count(char) for char in letters]

    return frequency_list


result1 = frequencies('The quick red fox got bored and went home.')
result2 = frequencies('apple')
#Examples as in the question
print(result1)
print(result2)

[1, 1, 1, 3, 5, 1, 1, 2, 1, 0, 1, 0, 1, 2, 4, 0, 1, 2, 0, 3, 1, 0, 1, 1, 0, 0]
[1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]